{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'CSS/main.css' %}">
		<link rel="stylesheet" href="{% static 'CSS/fontawesome-all.min.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'CSS/noscript.css' %}" ></noscript>
	</head>
	<body class="is-preload">
        <section id="sidebar">
            <div class="inner">
                <nav>
                    <ul>
                        <li><a href="{% url 'index'%}">TO HOMEPAGE</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    
    <section id="wrapper" >
        <table>
            <tr>
                <th>Name</th>
                <th>Reg no</th>
                <th>Reason</th>
                <th>Approve</th>
                <th>Disapprove</th>
            </tr>
            {% for leaves in all_leaves %}
            <tr>
                <td>{{ leaves.name| title }}</td>
                <td>{{ leaves.regno}}</td>
                <td>{{ leaves.reason}}</td>
                <td><a href="{% url 'manage_leaves' leaves.regno %}">Approve leave</a></td>
                <td><a href="{% url 'disapprove_leaves' leaves.regno %}">Disapprove leave</a></td>
            </tr>
            {% endfor %}
        </table>
    </section>




















    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                 <li>&copy; 2022 All rights reserved.</li><li>Design: Shubham Nagarkar</li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
        <script src="{% static "JS/jquery.min.js" %}"></script>
        <script src="{% static "JS/jquery.scrollex.min.js" %}"></script>
        <script src="{% static "JS/jquery.scrolly.min.js" %}"></script>
        <script src="{% static "JS/browser.min.js" %}"></script>
        <script src="{% static "JS/breakpoints.min.js" %}"></script>
        <script src="{% static "JS/util.js" %}"></script>
        <script src="{% static "JS/main.js" %}"></script>

</body>
</html>
