
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actions Page</title>
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
    <link rel="stylesheet" href="{% static "CSS/fontawesome-all.min.css" %}">
    <noscript><link rel="stylesheet" href="{% static 'CSS/noscript.css' %}" ></noscript>
</head>
<body>

<div class="container">
    <h1>Choose an Action</h1>
    <a href="{% url 'ap_leaves' %}" class="button apply-leaves">Apply Leaves</a>
    
</div>

</body>
</html>
